@import "tailwindcss";

:root {
  --background: #e5f2ff;
  --foreground: #000000;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-general-sans);

  --spacing-wrapper-max: 1680px;
  --spacing-container-max: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .container {
    @apply mx-auto w-full px-4;
    max-width: var(--spacing-wrapper-max);
  }
  .nav-container {
    @apply mx-auto w-full px-4;
    max-width: var(--spacing-container-max);
  }
}
