@import "tailwindcss";

:root {
  --background: #e5f2ff;
  --foreground: #000000;
  --brand-blue: #007AFF;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: var(--brand-blue);
  --font-sans: var(--font-general-sans);

  --spacing-wrapper-max: 1680px;
  --spacing-container-max: 1200px;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .container {
    @apply mx-auto w-full px-4;
    max-width: var(--spacing-wrapper-max);
  }
  .nav-container {
    @apply mx-auto w-full px-4;
    max-width: var(--spacing-container-max);
  }
}

